        /* Estilos generales */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .wrapper {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }
        /* Estilos del contenido principal */
        .content {
            flex: 1;
           
        }
body{
background-color: rgb(86, 107, 107);
}

        /* Estilos de la barra de navegación */
        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(187, 185, 185, 0.4);
            padding: 10px;
        }

        .navbar .logo {
            font-size: 24px; /* Reducir el tamaño de la fuente */
            font-weight: bold;
            color: #000;
            width: 150px; /* Reducir el ancho del contenedor */
            height: 30px; /* Reducir la altura del contenedor */
        }

        .navbar .menu {
            list-style-type: none;
            display: flex;
            margin-right: 20px;
        }

        .navbar .menu li {
            margin-right: 10px;
        }

        .navbar .menu li a {
            text-decoration: none;
            color: #000;
            font-weight: bold;
        }


         /* Estilos del footer */
        .footer {

            background-color: #c5c4c4;
            padding: 20px;
            text-align: center;
            font-size: 24px;
            background-color: rgba(187, 185, 185, 0.3);
        }

        .footer .logo {
            display: inline-block;
            font-weight: bold;
        }

        .footer .copyright {
            display: inline-block;
            margin-left: 10px;
            font-size: 20px;
        }
.welcome {
    text-align: center;
    margin-top: 50px;
}

.welcome h1 {
    font-size: 30px;
    font-weight: bold;
    color: #4689af;
    margin-bottom: 10px;
    margin-top: 100px;
    animation-name: bounceAnimation; /* Nombre de la animación */
    animation-duration: 1s; /* Duración de la animación */
    animation-timing-function: ease-in-out; /* Función de temporización */
    animation-iteration-count: infinite; /* Repetición infinita */
}

/* Definición de la animación */
@keyframes bounceAnimation {
    0% { transform: translateY(1); } /* Estado inicial */
    50% { transform: translateY(-15px); } /* Estado intermedio */
    100% { transform: translateY(0); } /* Estado final */
}

.welcome p {
    font-size: 24px;
    /* font-weight: bold; */
    margin-bottom: 30px;
    background-color: rgba(253, 253, 253, 0.7);
    max-width: 1200px; /* Establecer un ancho máximo */
    margin-left: auto; /* Centrar el párrafo horizontalmente */
    margin-right: auto; /* Centrar el párrafo horizontalmente */
    padding: 20px; /* Agregar un espacio interno alrededor del párrafo */
}

.cardr {
    width: 500px;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    overflow: auto;
    margin-top: 3%;

}
.cardr p {
    max-height: 300px;
    overflow: auto;
}

.bounce-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #4285f4;
    color: #fff;
    cursor: pointer;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}


        .containerr {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            width: 80%;
            height: 80vh;
            background-color: rgba(187, 185, 185, 0.3);
            margin-top: 100px;
            margin-bottom: 95px;
            padding: 20px;
        }

        .containerr h1{
            margin-top: 1%;
        }


.container .btnr-container {
    margin-top: 20px; /* Empuja el contenedor hacia abajo para que esté al final */
    display: flex;
    justify-content: flex-end;
  }

  .container .btnr-container .btnr {
    margin-right: 700%; /* Añade un margen a la izquierda del botón para separarlo del h1 */
    width: 500%;
    height: 100%;
  }

        table {
            border-collapse: collapse;
            width: 80%;
            margin-top: 100px;
            margin-bottom: 150px;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

/* Estilos de las tajetas del index */

.card-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }

  .cardr {
    width: 300px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .cardr-body {
    padding: 10px;
  }

  .card-body img {
    width: 100%;
    height: auto;
  }

  .cardr-body p {
    margin-top: 10px;
  }

  .cardr-footer {
    padding: 10px;
    background-color: transparent;
    text-align: center;
  }

  .btnr {
    padding: 5px 10px;
    background-color: #976565;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .btn:hover {
    animation: pulse 1s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .grid-container {
    display: grid;
    margin-top: 2%;
    margin-bottom: 3%;
    grid-template-columns: repeat(5, 1fr); /* 5 columnas de igual ancho */
    gap: 10px; /* Espacio entre las tarjetas */
  }

  .tarjeta {
    background-color: rgba(187, 185, 185, 0.7);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
  }
  .tarjeta-header {
    font-weight: bold;
    border-bottom: 1px solid #ccc; /* Línea de separación en el borde inferior */
    padding-bottom: 5px;
  }
  
  .tarjeta-body {
    margin-top: 10px;
    color: #4285f4;
    width: 100%;
    padding-bottom: 5px;
  }
  
  .tarjeta-body span {
    margin-top: 10px;
    color: #0f0f0f;
  }
  
  .tarjeta-footer {
    margin-top: 10px;
    text-align: right;
    color: #a6afc9;
    /* justify-content: center; Este estilo no es necesario */
    /* align-items: center; Este estilo no es necesario */
  }

  .contenedor {
    margin-top: 5%;
    width: 100%;
    height: 8vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Alinear los elementos verticalmente */
  }

  .btn-contenedor {
    background-color: transparent; /* Color de fondo del contenedor */
    padding: 10px; /* Espacio interior del contenedor */
  }